fastapi
pytest
uvicorn
jinja2
openai
langchain-community
tiktoken
python-multipart
beautifulsoup4
unstructured
pydantic
pydantic-settings
elasticsearch
pandas
markdown
httpx
# chromadb support suspended
