<!-- Yan Pan 2023 -->
[% extends "base.html" %]

[% block head %] 
<title>[[title]]</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style>
    #row-info {
        z-index: 999999;
        position: fixed;
        top: 300px;
        width: 60%;
    }
    #app {
        margin-top: 50px;
    }
    .chip {
        font-size: larger;
    }
</style>
[% endblock %]

[% block main %]
<div id="app">

    <div id="row-info">
        <div v-if="message" @click="message=''" class="card yellow lighten-5">
            <div class="card-content orange-text">{{message}}<br><small>{{debug}}</small></div>
            <div class="card-action"><a @click="message=''">Close</a></div>
        </div>
    </div>

    <div id="info" class="row">
        <div v-if="isLoading" class="col s12">
            <div class="progress"><div class="indeterminate"></div></div>
        </div>
              
        <div class="col m12 l6">
            <div class="card">
                <div class="card-content orange-text">
                    <div v-for="f in files" class="chip">
                        {{f}} &nbsp;&nbsp;&nbsp; 
                        <i class="tiny material-icons" @click="createCollection(f)">add_to_photos</i>
                        &nbsp;
                        <i class="tiny material-icons" @click="deleteFile(f)">close</i>
                    </div>
                </div>                
                <div class="card-action">
                    Available Files &nbsp;&nbsp;
                    <a v-if="!showUpload" @click="showUpload=1">add new</a>
                    <a v-if="showUpload" @click="showUpload=0">collapse</a>
                    <div v-if="showUpload" id="upload-file" class="row">
                        <div class="file-field input-field">
                            <div class="btn-small">
                                <span>upload</span>
                                <input type="file" @change="handleFileUpload">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col m12 l6">
            <div class="card">
                <div class="card-content orange-text">
                    <div v-for="c in collections" class="chip">
                        {{c}} &nbsp;&nbsp;&nbsp; 
                        <i class="tiny material-icons" @click="deleteCollection(c)">close</i>
                    </div>
                </div>                
                <div class="card-action">
                    Embedded Vector Collections &nbsp;&nbsp;
                    <a v-if="!showUpload" @click="showUpload=1">info</a>
                    <a v-if="showUpload" @click="showUpload=0">collapse</a>
                    <blockquote v-if="showUpload">
                        required: <code>aboutme</code>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>


[% endblock %]

[% block vuejs %]

<script>

    const url_upload = "[[ url_for('upload_file') ]]";
    const url_list_f = "[[ url_for('list_uploaded_files') ]]";
    const url_list_c = "[[ url_for('list_chroma_collections') ]]";
    const url_del_f = "[[ url_for('delete_file') ]]";
    const url_del_c = "[[ url_for('delete_collection') ]]";
    const url_create = "[[ url_for('create_collection_from_file') ]]";


    const {createApp} = Vue;

    createApp({
        data() {
            return {
                files: ["ad.pdf", "bc.daf"],
                collections: ["a", "b"],
                isLoading: 0,
                showUpload: 0,
                message: '',
                debug: '',
            }
        },

        created() {
            this.listFiles();
            this.listCollections();
        },

        methods: {
            createCollection(f) {
                name = window.prompt("This action may take a few minutes.\nPlease provide a collection name.", f);
                console.log(`from ${f} to create ${name}`)
                this.isLoading = 1;

                fetch(url_create, {
                        method: 'POST',
                        headers: {'accept': 'application/json', 'Content-Type': 'application/json'},
                        body: `{"source_file": "${f}", "collection_name": "${name}"}`
                })
                    .then(response => {
                        if (response.ok) { return response.json();}
                        return Promise.reject(response); 
                    })
                    .then(data => {
                        this.message = data.message;
                        this.listFiles();
                        this.listCollections();
                        this.isLoading=0;
                    })
                    .catch(error => { 
                        this.isLoading=0;
                        error.json().then((json) => {
                          this.message = `Creation failed! ${json.detail}`
                        })
                    });
            },

            listFiles() {
                fetch(url_list_f, {method: 'GET'})
                    .then(response => response.json())
                    .then(data => this.files = data)
                    .catch(error => this.message = error);
            },

            listCollections() {
                fetch(url_list_c, {method: 'GET'})
                    .then(response => response.json())
                    .then(data => this.collections = data)
                    .catch(error => this.message = error);
            },

            deleteFile(f) {
                if(confirm(`Are your sure to permanently delete "${f}"`)) {
                    this.isLoading = 1;
                    fetch(url_del_f, {
                        method: 'POST',
                        headers: {'accept': 'application/json', 'Content-Type': 'application/json'},
                        body: `{"filename": "${f}"}`
                    })
                        .then(response => response.json())
                        .then(data => {
                            this.message = data.message;
                            this.listFiles();
                            this.isLoading = 0;
                        })
                        .catch(error => this.message = error);
                }
            },

            deleteCollection(c) {
                if(confirm(`Are your sure to permanently delete vector database "${c}"`)) {
                    this.isLoading = 1;
                    fetch(url_del_c, {
                        method: 'POST',
                        headers: {'accept': 'application/json', 'Content-Type': 'application/json'},
                        body: `{"collection_name": "${c}"}`
                    })
                        .then(response => response.json())
                        .then(data => {
                            this.message = data.message;
                            this.listCollections();
                            this.isLoading = 0;
                        })
                        .catch(error => this.message = error);
                }
            },

            handleFileUpload(event) {
                const file = event.target.files[0];
                const formData = new FormData();
                formData.append('file', file);

                fetch(url_upload, {method: 'POST', body: formData})
                    .then(response => {
                        if (response.status == 413) {
                            this.message = "Fail! file size too large!";
                        } else if (response.status < 300) {
                            this.message = "upload completed ok.";
                        } else {
                            this.message = "Warning: unknown exception";
                        }
                        this.listFiles();
                        this.listCollections();
                    })
                    // .then(data => this.message = data)
                    .catch(error => this.message = error);
            },
        }
    }).mount("#app");
    </script>
[% endblock %]
