<!-- Yan Pan 2023 -->
[% extends "base.html" %]

[% block head %] 
<title>[[title]]</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style>
    .chat-card {
        border-radius: 15px;
        padding: 10px;
        border: powderblue solid 3px;
        margin-top: 10px;
    }
    #row-info {
        z-index: 999999;
        position: fixed;
        top: 300px;
        width: 60%;
    }
    select, .mute{
        color: lightgray;
    }
</style>
[% endblock %]

[% block main %]
<div id="app">

    <div id="row-info">
        <div v-if="message" @click="message=''" class="card yellow lighten-5">
            <div class="card-content orange-text">Error: {{message}}<br><small>{{debug}}</small></div>
            <div class="card-action"><a @click="message=''">Close</a></div>
        </div>
    </div>

    <div id="db-selection" class="row valign-wrapper">
        <div class="col s6 right-align" @click="showConfig=1-showConfig">
            <p class="mute" style="text-decoration: underline;">
                <span v-if="showConfig">Close </span>
                <span v-else>Open LLM Options</span>
                
            </p>
        </div>
        <div v-if="showConfig" class="col s3 right-align">
            <label>LLM Temperature</label>
            <select class="browser-default" v-model="selectedTemperature">
                <option v-for="t in [0.0, 0.1, 0.2, 0.3, 0.5, 0.7, 0.9]">{{t}}</option>
            </select>
        </div>
        <div v-if="showConfig" class="col s3 right-align">
            <label>Vector Database Selection</label>
            <select class="browser-default" v-model="selectedCollection">
                <option v-for="c in collections" :value="c">{{c}}</option>
            </select>
        </div>
    </div>

    <div id="chat-bubbles" class="row">
        <div v-for="msg in chat" :class="msg.role==='user'? 'col s8 push-s4' : 'col s8'" >
            <div class="card-panel grey lighten-5" style="white-space: pre-wrap;">
                {{ msg.content }}
            </div>
        </div>
        <div v-if="streamText" class="col s8">
            <div class="card-panel grey lighten-5" style="white-space: wrap;">
                {{ streamText }}
            </div>
        </div>

    </div>

    <div id="chat-input" class="row valign-wrapper">
        <div class="input-field col s10">
            <input type="text" v-model="userInput" @keyup.enter="sendInput">
        </div>
        <div class="col s2" @click="sendInput">
            <i class="material-icons" style="font-size: 30px; color: lightblue">send</i>
        </div>
    </div>

[% endblock %]

[% block vuejs %]
<script>
    var url_chat = "[[ endpoint ]]";
    var url_collections = "[[ endpoint2 ]]"

    const {createApp} = Vue;

    createApp({
        data() {
            return {
                userInput: '',
                streamText: '',
                message: '',
                debug: `SysInfo: ${url_chat}`,
                showConfig: 0,
                chat: [{"role": "sys", "content": `Welcome![[desc]]`}],
                collections: ["aa", "bb", "cc"],
                selectedCollection: "default",
                selectedTemperature: 0.1
            }
        },

        created() {
            fetch(url_collections)
                .then(response => response.json())
                .then(data => this.collections=data)
        },

        methods: {
            async sendInput() {
                this.scrollToBottom();
                if (this.userInput.length < 10){
                    this.message = "question too short."
                    return;
                }
                this.chat.push({"role": "user", "content": this.userInput});
                this.streamText = "waiting for bot...";

                const response = await fetch(url_chat, {
                    method: 'POST',
                    headers: {
                        'accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: `{"question": "${this.userInput}", "collection": "${this.selectedCollection}", "temperature": ${this.selectedTemperature}}`
                });
                // starting streaming
                this.userInput = "";
                const reader = response.body.getReader();
                while (true) {
                    const { done, value } = await reader.read();

                    if (done) {
                        break;
                    }

                    const chunk = new TextDecoder('utf-8').decode(value);
                    this.streamText += chunk;
                }

                // finish
                this.chat.push({"role": "sys", "content": this.streamText.replace("waiting for bot...", "")})
                this.streamText = ""
                this.scrollToBottom()
            },

            scrollToBottom() {
                setTimeout(() => {
                    document.getElementById("chat-input").scrollIntoView({ behavior: 'smooth', block: 'end' });
                }, 900);
            }
        }
    }).mount("#app");
    </script>
[% endblock %]
