<!-- Yan Pan 2023 -->
[% extends "base.html" %]

[% block head %] 
<title>[[title]]</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style>
    #row-info {
        z-index: 999999;
        position: fixed;
        top: 300px;
        width: 60%;
    }
    .input-box {
        color: #333;
        font-size: smaller;
        white-space: pre;
        overflow: auto;
    }
    #code-input {
        font-family: monospace;
        font-size: smaller;
    }
</style>
[% endblock %]

[% block main %]
<div id="app">

    <div id="row-info">
        <div v-if="message" @click="message=''" class="card yellow lighten-5">
            <div class="card-content orange-text">Error: {{message}}<br><small>{{debug}}</small></div>
            <div class="card-action"><a @click="message=''">Close</a></div>
        </div>
    </div>

    <div v-for="one in codeAnalysis" class="row">
        <div class="col s6">
            <div class="card-panel grey lighten-2 input-box">
                <pre>{{one.input}}</pre> 
            </div>
        </div>
        <div class="col s6">
            <div class="card-panel grey lighten-5" style="white-space: pre-wrap;">
                {{one.output}}
            </div>
        </div>
    </div>

    <div v-if="streamText" id="running-analysis" class="row">
        <div class="col s6">
            <div class="card-panel grey lighten-5 input-box">
                <pre>{{streamInput}}</pre>
            </div>
        </div>
        <div class="col s6">
            <div class="card-panel grey lighten-5" style="white-space: wrap;">
                {{ streamText }}
            </div>
        </div>
    </div>

    <div id="chat-input" class="row valign-wrapper">
        <div class="input-field col s10">
            <textarea id="code-input" class="materialize-textarea" data-length=2500
                v-model="userInput" v-on:keypress.ctrl.enter="sendInput">
            </textarea>
            <label for="code-input">Type or Paste Code, press CTRL-Enter to send</label>
        </div>
        <div class="col s2" @click="sendInput">
            <i class="material-icons" style="font-size: 30px; color: lightblue">send</i>
        </div>
    </div>

</div>
[% endblock %]

[% block vuejs %]

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var codeInputArea = document.querySelectorAll('textarea#code-input');
        var instances = M.CharacterCounter.init(codeInputArea, {});
    });
    var url_chat = "[[ endpoint ]]";

    const {createApp} = Vue;

    createApp({
        data() {
            return {
                userInput: '',
                streamInput: '',
                streamText: '',
                message: '',
                debug: `SysInfo: ${url_chat}`,
                codeAnalysis: [{"input": "console.log(\"hello user!\")\n//I am a Code Analyzer Bot", "output": "Code will be analyzed and suggest modifications if necessary"}]
            }
        },

        created() {
        },

        methods: {
            async sendInput() {
                this.scrollToBottom();
                if (this.userInput.length < 10){
                    this.message = "question too short."
                    return;
                }
                if (this.userInput.length > 2500){
                    this.message = "Input exceeding allowed length (2500 characters)"
                    return;
                }

                this.streamInput = this.userInput
                this.streamText = "analyzing...";
                
                const response = await fetch(url_chat, {
                    method: 'POST',
                    headers: {
                        'accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: `{"code": "${encodeURIComponent(this.userInput)}"}`
                });
                this.userInput = "";
                // starting streaming
                const reader = response.body.getReader();
                while (true) {
                    const { done, value } = await reader.read();

                    if (done) {
                        break;
                    }

                    const chunk = new TextDecoder('utf-8').decode(value);
                    this.streamText += chunk;
                }

                // finish
                this.codeAnalysis.push({
                    "input": this.streamInput, 
                    "output": this.streamText.replace("analyzing...", "")
                });
                this.streamText = "";
                this.streamInput = "";
                this.scrollToBottom();
            },

            scrollToBottom() {
                setTimeout(() => {
                    M.textareaAutoResize(document.getElementById('code-input'));
                    document.getElementById("chat-input").scrollIntoView({ behavior: 'smooth', block: 'end' });
                }, 1200);
            }
        }
    }).mount("#app");
    </script>
[% endblock %]
